lookupCountryCode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="lookupCountryCode" targetNamespace="http://www.talend.org/service/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.talend.org/service/">
			
  <xsd:element name="lookupCountryCodeOperationRequest">
				
    <xsd:complexType>
					
      <xsd:sequence>
						
        <xsd:element name="countryCode" type="xsd:string"/>
					
      </xsd:sequence>
				
    </xsd:complexType>
			
  </xsd:element>
			
  <xsd:element name="lookupCountryCodeOperationResponse">
				
    <xsd:complexType>
					
      <xsd:sequence>
						
        <xsd:element name="countryName" type="xsd:string"/>
					
      </xsd:sequence>
				
    </xsd:complexType>
			
  </xsd:element>
		
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="lookupCountryCodeOperationRequest">
    <wsdl:part element="tns:lookupCountryCodeOperationRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lookupCountryCodeOperationResponse">
    <wsdl:part element="tns:lookupCountryCodeOperationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="lookupCountryCodePortType">
    <wsdl:operation name="lookupCountryCodeOperation">
      <wsdl:input message="tns:lookupCountryCodeOperationRequest">
    </wsdl:input>
      <wsdl:output message="tns:lookupCountryCodeOperationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lookupCountryCodeBinding" type="tns:lookupCountryCodePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="lookupCountryCodeOperation">
      <soap:operation soapAction="http://www.talend.org/service/lookupCountryCodeOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lookupCountryCode">
    <wsdl:port binding="tns:lookupCountryCodeBinding" name="lookupCountryCodePort">
      <soap:address location="http://l000pkl360:8040/services/lookupCountryCode"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>